body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;

  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.opt-panel {
  width: 25%;
  height: 100%;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.cv-displayer {
  width: 75%;
  height: 100%;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.a4-paper {
  width: 55%;
  aspect-ratio: 8.27 / 11.67;
  padding: 2rem;
}

.card {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.display-card {
  margin-top: 1rem;
}

/*detail section*/
.seperate-line {
  width: 65%;
  border: 2px solid black;
}

.dark-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.space-line {
  margin-top: 1rem;
}

.name-title {
  font-size: 3rem;
  font-weight: bold;
}
